[general]
# Put your Pivotal Tracker key here:
pt=

[jira]
# Put your Jira token and email here:
token=
email=
# URL of your Jira instance e.g. https://example.atlassian.net
url=
# Name of your Jira user group where you put all the PT users
group=jira-users-pt
